html,
      body {
        width: 100vs;
        height: 100vh;
        margin: 0px;
      }

.container_join{
    width: 100%;
    height: 100%;
    background-image: url( "../login_bg.JPG" );
    background-size: cover;
    position: relative;
}