html,
      body {
        width: 100%;
        height: 100%;
        margin: 0px;
      }

.mypage_calendar{
    position: absolute;
    width: 70%;
    height: 75%;
    left: 20%;
    top: 23%;
}
.react-calendar {
    position: absolute;
    left:55%;
    top:10%;
    width: 45%;
    height: 45%;
    max-width: 100%;
    max-height: 100%;
    background: white;
    border: 1px solid #a0a096;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
  }
  
  .react-calendar--doubleView {
    width: 700px;
  }
  
  .react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
  }
  
  .react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
  }
  
  .react-calendar,
  .react-calendar *,
  .react-calendar *:before,
  .react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
  }
  
  .react-calendar button:enabled:hover {
    cursor: pointer;
  }
  
  .react-calendar__navigation {
    display: flex;
    height: 44px;
    margin-bottom: 1em;
  }
  
  .react-calendar__navigation button {
    min-width: 44px;
    background: none;
  }
  
  .react-calendar__navigation button:disabled {
    background-color: #f0f0f0;
  }
  
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    background-color: #e6e6e6;
  }
  
  .react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font: inherit;
    font-size: 0.75em;
    font-weight: bold;
  }
  
  .react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
  }
  
  .react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font: inherit;
    font-size: 0.75em;
    font-weight: bold;
  }
  
  .react-calendar__month-view__days__day--weekend {
    color: #d10000;
  }
  
  .react-calendar__month-view__days__day--neighboringMonth {
    color: #757575;
  }
  
  .react-calendar__year-view .react-calendar__tile,
  .react-calendar__decade-view .react-calendar__tile,
  .react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
  }
  
  .react-calendar__tile {
    max-width: 100%;
    max-height: 100%;
    padding: 3.4% 6.6667px;
    background: none;
    text-align: center;
    line-height: 16px;
    font: inherit;
    font-size: 0.833em;
  }
  
  .react-calendar__tile:disabled {
    background-color: #f0f0f0;
  }
  
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background-color: #e6e6e6;
  }
  
  .react-calendar__tile--now {
    background: #D8F3E3;
  }
  
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background: #ffffa9;
  }
  
  .react-calendar__tile--hasActive {
    background: #76baff;
  }
  
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    background: #a9d4ff;
  }
  
  .react-calendar__tile--active {
    background: #006edc;
    color: white;
  }
  
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: #1087ff;
  }
  
  .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
  }

  #mypage_schedule_one{
    position: absolute;
    left: 0%;
    font-size:35px;
    font-weight:600;
    color:rgba(4, 35, 11,0.8);
    font-family: 'counselname', serif;
}

#schedule_hrone{
    position: absolute;
    top: 5%;
    left: 0%;
    background-color: #287D0A;
    height: 0.1%;
    width: 47%;
}

  #mypage_schedule_two{
    position: absolute;
    left: 55%;
    font-size:35px;
    font-weight:600;
    color:rgba(4, 35, 11,0.8);
    font-family: 'counselname', serif;
}

#schedule_hrtwo{
    position: absolute;
    top: 5%;
    left: 54%;
    background-color: #287D0A;
    height: 0.1%;
    width: 47%;
}

#pickdate{
    position: absolute;
    top: 58%;
    left: 58%;
    font-size:25px;
    font-weight:600;
    color:rgba(4, 35, 11,0.8);
    font-family: 'counselname', serif;
}

#schedule_one_first{
    position: absolute;
    left: 3%;
    top:8%;
    width: 4%;
    height: 10%;
    border: 1px solid #0073CC;
    background-color: #0073CC;
    border-radius: 38%;
}

#schedule_one_second{
    position: absolute;
    left: 9%;
    top:8%;
    width: 4%;
    height: 10%;
    border: 1px solid #7CB8E7;
    background-color: #7CB8E7;
    border-radius: 38%;
}

#schedule_one_third{
    position: absolute;
    left: 15%;
    top:8%;
    width: 4%;
    height: 10%;
    border: 1px solid #7CB8E7;
    background-color: #7CB8E7;
    border-radius: 38%;
}

#schedule_one_fourth{
    position: absolute;
    left: 2%;
    top:8%;
    width: 4%;
    height: 10%;
    border: 1px solid #7CB8E7;
    background-color: #7CB8E7;
    border-radius: 38%;
}

#schedule_one_fifth{
    position: absolute;
    left: 28%;
    top:8%;
    width: 4%;
    height: 10%;
    border: 1px solid #7CB8E7;
    background-color: #7CB8E7;
    border-radius: 38%;
}

#schedule_one_sixth{
    position: absolute;
    left: 34%;
    top:8%;
    width: 4%;
    height: 10%;
    border: 1px solid #7CB8E7;
    background-color: #7CB8E7;
    border-radius: 38%;
}

#schedule_one_seventh{
    position: absolute;
    left: 40%;
    top:8%;
    width: 4%;
    height: 10%;
    border: 1px solid #7CB8E7;
    background-color: #7CB8E7;
    border-radius: 38%;
}

#pickdayofweek_first{
    position: absolute;
    top: 17%;
    left: 38%;
    font-size:20px;
    font-weight:600;
    color:white;
    font-family: 'counselname', serif;
}

#pickday_first{
    position: absolute;
    top: 60%;
    left: 38%;
    font-size:20px;
    font-weight:600;
    color:white;
    font-family: 'counselname', serif;
}

#pickdayofweek_second{
    position: absolute;
    top: 17%;
    left: 38%;
    font-size:20px;
    font-weight:600;
    color:white;
    font-family: 'counselname', serif;
}

#pickday_second{
    position: absolute;
    top:60%;
    left: 38%;
    font-size:20px;
    font-weight:600;
    color:white;
    font-family: 'counselname', serif;
}

#pickdayofweek_third{
    position: absolute;
    top: 17%;
    left: 38%;
    font-size:20px;
    font-weight:600;
    color:white;
    font-family: 'counselname', serif;
}

#pickday_third{
    position: absolute;
    top: 60%;
    left: 38%;
    font-size:20px;
    font-weight:600;
    color:white;
    font-family: 'counselname', serif;
}

#pickdayofweek_fourth{
    position: absolute;
    top: 17%;
    left: 38%;
    font-size:20px;
    font-weight:600;
    color:white;
    font-family: 'counselname', serif;
}

#pickday_fourth{
    position: absolute;
    top: 60%;
    left: 38%;
    font-size:20px;
    font-weight:600;
    color:white;
    font-family: 'counselname', serif;
}

#pickdayofweek_fifth{
    position: absolute;
    top: 17%;
    left: 38%;
    font-size:20px;
    font-weight:600;
    color:white;
    font-family: 'counselname', serif;
}

#pickday_fifth{
    position: absolute;
    top: 60%;
    left: 38%;
    font-size:20px;
    font-weight:600;
    color:white;
    font-family: 'counselname', serif;
}

#pickdayofweek_sixth{
    position: absolute;
    top: 17%;
    left: 38%;
    font-size:20px;
    font-weight:600;
    color:white;
    font-family: 'counselname', serif;
}

#pickday_sixth{
    position: absolute;
    top: 60%;
    left: 38%;
    font-size:20px;
    font-weight:600;
    color:white;
    font-family: 'counselname', serif;
}

#pickdayofweek_seventh{
    position: absolute;
    top: 17%;
    left: 38%;
    font-size:20px;
    font-weight:600;
    color:white;
    font-family: 'counselname', serif;
}

#pickday_seventh{
    position: absolute;
    top: 60%;
    left: 38%;
    font-size:20px;
    font-weight:600;
    color:white;
    font-family: 'counselname', serif;
}