html,
      body {
        width: 100%;
        height: 100%;
        margin: 0px;
      }

.mypage_connectedmore{
    position: absolute;
    width: 70%;
    height: 75%;
    left: 20%;
    top: 17%;
}