html,
      body {
        width: 100%;
        height: 100%;
        margin: 0px;
      }

.mypage_mypage{
    position: absolute;
    width: 70%;
    height: 75%;
    left: 20%;
    top: 18%;
}

#mypage_name{
    position: absolute;
    left: 2%;
    font-size:35px;
  font-weight:600;
  color:rgba(4, 35, 11,0.8);
  font-family: 'counselname', serif;
}

hr{
    position: absolute;
    top: 5%;
    background-color: #287D0A;
    height: 0.1%;
    width: 100%;
}

#mypage_name_two{
    position: absolute;
    top: 18%;
    left: 3%;
    font-size:27px;
  font-weight:600;
  color:rgba(4, 35, 11,0.8);
  font-family: 'counselname', serif;
}

table {
  border-collapse: collapse;
  border-spacing: 0; 
  table-layout: auto;
  width: 100%;
  table-layout: fixed;
}

#mypage_table {
  border-collapse: collapse; /* 테이블 셀 간격 제거 */
  width: 95%; /* 테이블 전체 너비 100%로 설정 */
}

#main_thead{
  position: relative;
  border:3px solid #CFDCE5;
  border-left: none;
  border-right: none;
  text-align: center;
  width: 95%;
  font-size:24px;
  font-weight:600;
  color:rgba(4, 35, 11,0.8);
  font-family: 'counselname', serif;
}

#main_tbody{
  position: relative;
  margin-top: 3%;
  font-size:21px;
  font-weight:600;
  color:rgba(4, 35, 11,0.8);
  font-family: 'counselname', serif;
}

th {
  text-align: center;
  padding-top:1%;
  padding-bottom:1%;
}

td{
  text-align: center;
  padding-top:1%;
  padding-bottom:1%;
}

th, td {
  /* 라인 스타일 및 색상 설정 */
}

#gochatroom{
  border: none;
  background-color: #DAE2FF;
  color: #1573FF;
  border: 1px solid #DAE2FF;
  border-radius: 20%;
}
